@page "/books"

<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Закладки</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Мои проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Рецензии</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Посты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Обмены</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">Пользователи</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<section id="">
    <div class="container">

        <h1>Книги</h1>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Год публикации</th>
                    <th scope="col">Жанр</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var book in result)
                {
                    <tr>
                        <th scope="row">@book.Title</th>
                        <td>@book.PublishedYear</td>
                        <td>@book.GenreId</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>


@code {
    public class Book
    {
        public int BookId { get; set; }
        public string Title { get; set; } = null!;
        public int AuthorId { get; set; }
        public int PublishedYear { get; set; }
        public int GenreId { get; set; }
    }

    public Book[] result = new Book[] { };

    string CurrentDate;
    string CurrentTime;

    protected override async Task OnInitializedAsync()
    {
        var date = DateTime.Now;
        CurrentDate = date.ToShortDateString();
        CurrentTime = date.ToShortTimeString();

        var client = new HttpClient();
        client.BaseAddress = new Uri("https://apibackend-motuz-1.onrender.com");

        result = await client.GetFromJsonAsync<Book[]>("api/books");

        return;
    }
}
