@page "/"

<nav class="py-3 navbar navbar-expand-lg fixed-top auto-hiding-navbar navbar-light bg-light">
	<div class="container">
		<a class="navbar-brand" href="#">Закладки</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="#">Главная</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Мои проекты</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Контакты</a>
				</li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Рецензии</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Посты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Обмены</a>
                </li>

			</ul>
		</div>
	</div>
</nav>

<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Привет,<br>закладчик!</h1>
                <p>Это сайт, предназначенный для книголюбов. Здесь можно делиться своим мнением о прочитанных книгах и читать чужие рецензии, обмениваться книгами и читать посты на похожую тематику. Добро пожаловать!</p>
                <button type="button" class="btn btn-dark btn-lg">Начать</button>
            </div>
            <div class="col">
                <img src="https://github.com/m3eof/-ApiBackend_Motuz/blob/main/a9f9e3e1-4628-47b0-8fa1-80ab40cbc43c.jpg?raw=true" alt="...">
            </div>
        </div>
        <div class="row cards">
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <!-- here is where they add the ICON -->
                        <img src="https://github.com/m3eof/-ApiBackend_Motuz/blob/main/Results%20for%20quiz%20which%20marauders%20era%20character%20are%20you_.jpg?raw=true" alt="..." class="icon">
                        <h5 class="card-title">Рецензии</h5>
                        <p class="card-text">Место, где можно поделиться своим мнением о прочитанной книге и оставить ей оценку, а также прочитать чужие рецензии.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <!-- here is where they add the ICON -->
                        <img src="https://github.com/m3eof/-ApiBackend_Motuz/blob/main/d3cce44f-ded6-497e-9d8b-b61001b192a9.jpg?raw=true" alt="..." class="icon">
                        <h5 class="card-title">Посты</h5>
                        <p class="card-text">Контент и рассуждения по тематике. Найдите единомышленников и оставляйте комментарии!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <div class="card">
                    <div class="card-body">
                        <!-- here is where they add the ICON -->
                        <img src="https://github.com/m3eof/-ApiBackend_Motuz/blob/main/Cozy%20book%20store%20in%20the%20rain_%20_%20Cozy%20rainy%20day,%20Autumn%20cozy,%20Dark%20academia%20aesthetic.jpg?raw=true" alt="..." class="icon">
                        <h5 class="card-title">Обмен</h5>
                        <p class="card-text">Хотите сэкономить или найти определенную книгу? Зайдите в Обмен и сделайте выгодное предложение! Обменяйте книгу на вами желаемую :)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-us">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <!-- another image can be inserted here -->
                <img src="https://github.com/m3eof/-ApiBackend_Motuz/blob/main/Colored%20by%20me%20(don't%20repost).jpg?raw=true" alt="..." class="img-fluid" />
            </div>
            <div class="col">
                <h1>Кратко о проекте</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tenetur reiciendis in quae, rem corporis id sequi debitis aliquam laudantium illum vel unde? Praesentium laboriosam neque eaque architecto maxime nihil?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia tenetur reiciendis in quae, rem corporis id sequi debitis aliquam laudantium illum vel unde? Praesentium laboriosam neque eaque architecto maxime nihil?</p>
                <button type="button" class="btn btn-dark btn-lg">Подробнее</button>
            </div>
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row align-items-center projects">
            <div class="col">
                <h1>Я люблю закладки!</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem quod aliquam corporis tempore nostrum. Animi rem quisquam deleniti qui ad ipsa quod! Animi corrupti, ex blanditiis dolor error nulla consectetur.</p>
            </div>
        </div>
    </div>
</section>

@foreach (var user in result)
{
	<p>@user.UsersId @user.Username @user.Email</p>
}

@code{
	public class User
	{
		public int UsersId { get; set; }
		public string Username { get; set; } = null!;
		public string Email { get; set; } = null!;
		public string UserPassword { get; set; } = null!;
		public int? FollowerNumber { get; set; }
		public int? FollowingNumber { get; set; }
	}

	public User[] result = new User[] { };

	string CurrentDate;
	string CurrentTime;

	protected override async Task OnInitializedAsync(){
		var date = DateTime.Now;
		CurrentDate = date.ToShortDateString();
		CurrentTime = date.ToShortTimeString();

		var client = new HttpClient();
		client.BaseAddress = new Uri("https://apibackend-motuz-1.onrender.com/");

		result = await client.GetFromJsonAsync<User[]>("api/Users");

		return;
	}
}